[DEFAULT]
debug = {{ f5_openstack_agent_debug }}
periodic_interval = {{ f5_openstack_agent_periodic_interval }}
service_resync_interval = {{ f5_openstack_agent_service_resync_interval }}
environment_prefix = {{ f5_openstack_agent_environment_prefix }}
agent_id = {{ f5_openstack_agent_agent_id }}
f5_ha_type = {{ f5_openstack_agent_f5_ha_type }}
f5_external_physical_mappings = {{ f5_openstack_agent_f5_external_physical_mappings }}
f5_vtep_folder = {{ f5_openstack_agent_f5_vtep_folder }}
f5_vtep_selfip_name = {{ f5_openstack_agent_f5_vtep_selfip_name }}
advertised_tunnel_types = {{ f5_openstack_agent_advertised_tunnel_types }}
f5_populate_static_arp = {{ f5_openstack_agent_f5_populate_static_arp }}
l2_population = {{ f5_openstack_agent_l2_population }}
f5_global_routed_mode = {{ f5_openstack_agent_f5_global_routed_mode }}
use_namespaces = {{ f5_openstack_agent_use_namespaces }}
max_namespaces_per_tenant = {{ f5_openstack_agent_max_namespaces_per_tenant }}
f5_route_domain_strictness = {{ f5_openstack_agent_f5_route_domain_strictness }}
f5_snat_mode = {{ f5_openstack_agent_f5_snat_mode }}
f5_snat_addresses_per_subnet = {{ f5_openstack_agent_f5_snat_addresses_per_subnet }}
f5_common_networks = {{ f5_openstack_agent_f5_common_networks }}
f5_common_external_networks = {{ f5_openstack_agent_f5_common_external_networks }}
l3_binding_driver = {{ f5_openstack_agent_l3_binding_driver }}
f5_bigip_lbaas_device_driver = {{ f5_openstack_agent_f5_bigip_lbaas_device_driver }}
icontrol_hostname = {{ f5_openstack_agent_icontrol_hostname }}
icontrol_username = {{ f5_openstack_agent_icontrol_username }}
icontrol_password = {{ f5_openstack_agent_icontrol_password }}
auth_version = {{ f5_openstack_agent_auth_version }}
os_auth_url = {{ f5_openstack_agent_os_auth_url }}
os_username = {{ f5_openstack_agent_os_username }}
os_password = {{ f5_openstack_agent_os_password }}
os_user_domain_name = {{ f5_openstack_agent_os_user_domain_name }}
os_project_name = {{ f5_openstack_agent_os_project_name }}
os_project_domain_name = {{ f5_openstack_agent_os_project_domain_name }}
f5_parent_ssl_profile = {{ f5_openstack_agent_f5_parent_ssl_profile }}
